
.title-block {
    background-image: url("../img/2-layers.png");
    background-size: cover;
    height: 100vh;
}

.panel {
    display: flex;
    justify-content: space-between;
}

.button-menu {
    margin: 50px;
}

.logo {
    margin: 40px;
}

.name {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 180px;
    font-weight: 400;
    letter-spacing: -12px;
    text-align: center;
    margin: 3% 0 0;
}

.name-title {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.button {
    width: 190px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid #ffffff;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
}

.white-button {
    color: black;
    border: 1px solid black;
}

.text-button {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 8%;
}

.white-text-button {
    color: #2a2d2e;
}

.button:hover {
    cursor: pointer;
    background-color: #7443ff;
}

.button:hover p {
    color: #2a2d2e;
}

.fa-angle-down {
    width: 27px;
    height: 16px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 9.6px;
}

.white-button:hover {
    background-color: #2a2d2e;
}

.white-button:hover p {
    color: #9d9d9d;
}

.home-button {
    text-align: center;
    margin: 7% 0 0;
}

.home-button:hover {
    cursor: pointer;
}

.name-text {
    color: #2a2d2e;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -4px;
}

.info-text {
    color: #2a2d2e;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 5% 0;
}

.text {
    color: #72787a;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.text-foto {
    display: flex;
    margin: 7% 0 7% 7%;
}

.text-transform2 {
    background: url(../img/img_1.png);
    width: 68%;
    height: 650px;
}

.text-transform3 {
    background: url("../img/Video.png");
    width: 68%;
    height: 650px;
}

.block-text {
    margin-right: 8%;
    width: 27%;
}

.foto-text {
    display: flex;
    margin: 7% 7% 7% 0;
}

.text-block {
    margin-left: 8%;
    width: 32%;
}

.menu-panel-name {
    display: flex;
    justify-content: center;
}

.menu-panel-name > li {
    color: #818586;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -0.9px;
    margin: 0 1%;
}

.menu-panel-name > li:hover {
    color: #2a2d2e;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    margin: 0 0 4%;
}

.grid-container > div {
    min-height: 385px;
    min-width: 385px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.grid-item-1 {
    background: url("../img/foto-1.jpg");
    grid-area: 1/1/3/3;
}

.grid-item-2 {
    background: url("../img/foto-2.jpg");
    grid-area: 1/3/2/5;
}

.grid-item-3 {
    background: url("../img/foto-3.jpg");
    grid-area: 2/3/3/5;
}

.grid-item-4 {
    background: url("../img/foto-4.jpg");
    grid-area: 3/1/5/2;
}

.grid-item-5 {
    background: url("../img/foto-5.jpg");
    grid-area: 3/2/5/4;
}

.grid-item-6 {
    background: url("../img/foto-6.jpg");
    grid-area: 3/4/4/5;
}

.grid-item-7 {
    background: url("../img/foto-7.jpg");
    grid-area: 4/4/5/5;
}

.grid-item-8 {
    background: url("../img/foto-8.jpg");
    grid-area: 5/1/7/3;
}

.grid-item-9 {
    background: url("../img/foto-9.jpg");
    grid-area: 5/3/7/5;
}

.subtitle {
    color: #ffffff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.9px;
}

.title {
    color: #ffffff;
    font-family: "Poppins - Semi Bold";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.2px
}

.grid-text {
    margin: 0 6% 7%;
}

.black-section {
    margin: 7% 0 0;
    background-image: url("../img/black-section.png");
    background-size: cover;

}

.black-name {
    color: #ffffff;
    font-family: Poppins;
    font-size: 80px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: -4px;
    text-align: center;
    padding: 7% 0 0;
}

.black-name-two {
    color: #ffffff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.black-container {
    margin: 5%;
    justify-content: space-evenly;
    display: flex;
}

.plans {
    color: #ffffff;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: -1.2px;
}

.black-menu-list > li {
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.line-decoration {
    text-decoration: line-through;
}


.black-menu > ul {
    margin: 0 0 20%;
}

.black-menu {
    text-align: center;
}

.button-black-section {
    margin: 0 0 50%;
}

/*--section Keep in touch--*/
.keep {
    padding: 0 11%;
}

.keep-text {
    margin-right: 19%;
    width: 40%;
}

.text-line {
    display: flex;
}

.line {
    width: 2px;
    height: 18px;
    background-color: #7443ff;
    margin-right: 10px;
}

.blue-text {
    color: #7443ff;
    font-family: "Poppins - Semi Bold";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2.64px;
}

.text-form {
    display: flex;
}

.white-name {
    color: #2a2d2e;
    text-align: start;
}

.line-keep {
    width: 470px;
    height: 1px;
    background-color: #666666;
    opacity: 0.3;
}

.registered {
    display: flex;
    justify-content: space-between;
    color: #72787a;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}

.registered:hover {
    color: #2a2d2e;
}

.form-menu {
    color: #72787a;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.checkbox:hover {
    color: #2a2d2e;
}

.registered > i {
    line-height: 2;
}

.input-border {
    height: 50%;
    border: none;
    margin-left: 10px;
}

.button-keep {
    margin-top: 10%;
}

.keep-border {
    width: 100%;
    height: 2px;
    background-color: #000000;
    opacity: 0.1;
    text-align: center;
    margin-top: 5%;
}

.contacts {
    justify-content: space-around;
    display: flex;
    margin-bottom: 10%;
}

.address {
    color: #2a2d2e;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 100px;
    /* Text style for "Postal Add" */
    letter-spacing: -1.5px;
}

/*----- blue panele section-----*/

.blue-panels {
    height: 220px;
    background-color: #7443ff;
    background-image: linear-gradient(to right, #93eef9 0%, #7443ff 100%);
}

.panels-icons {
    display: flex;
    justify-content: space-evenly;
}

.panels-icons > li {
    margin: auto;
    color: white;
    width: 27px;
    height: 22px;
}

.panels-icons > li:hover {
    cursor: pointer;
}

.border-height {
    width: 1px;
    height: 220px;
    background-color: #ffffff;
    opacity: 0.3;
}

.logo-creative {
    display: flex;
    align-items: center;
    margin: 15% 0;
}

.text-logo-creative {
    color: #262b40;
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 400;
    letter-spacing: -1.04px;
    margin-left: 5%;
}

.letter {
    color: #262b40;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.72px;
    margin: 12% 0;
}

.finish {
    justify-content: space-around;
    display: flex;
    margin: 5% 0;
}

@media screen and (max-width: 1200px) {

    .name {
        font-size: 150px;
    }

    .text-foto {
        display: flex;
        margin: 4% 0 4% 4%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .block-text {
        width: 100%;
        text-align: center;
    }

    .text-transform2 {
        width: 90%;
    }

    .text-transform3 {
        width: 90%;
    }

    .foto-text {
        display: flex;
        margin: 4%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .text-block {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .block-text {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .grid-item-4 {
        background: url("../img/foto-4.jpg");
        grid-area: 3/1/5/3
    }

    .grid-item-5 {
        background: url("../img/foto-5.jpg");
        grid-area: 3/3/5/5;
    }

    .grid-item-6 {
        background: url("../img/foto-6.jpg");
        grid-area: 5/1/6/3;
    }

    .grid-item-7 {
        background: url("../img/foto-7.jpg");
        grid-area: 5/3/6/5;
    }

    .grid-item-8 {
        background: url("../img/foto-8.jpg");
        grid-area: 6/1/7/3;
    }

    .grid-item-9 {
        background: url("../img/foto-9.jpg");
        grid-area: 6/3/7/5;
    }

    .keep {
        padding: 0px 9%;
    }

    .keep-text {
        margin-right: 10%;
    }
}

@media screen and (max-width: 1000px) {
    .name {
        font-size: 120px;
    }

    .name-title {
        font-size: 30px;
    }

    .button {
        width: 170px;
        height: 50px;
    }

    .text-foto {
        display: flex;
        margin: 4%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .keep-text {
        width: 100%;
    }

    .white-name {
        text-align: center;
    }

    .form-menu {
        width: 58%;
        margin: 0 auto;
    }

    .line-keep {
        width: 100%;
    }

    .text-form {
        display: grid;
    }

    .text-transform2 {
        width: 100%;
    }

    .text-transform3 {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {

    .black-section {
        padding: 40px;
    }

    .black-container {
        flex-wrap: wrap;
    }

    .menu-panel {
        padding: 20px;
    }

    .menu-panel-name > li {
        margin: 0px 32px;
    }

    .menu-panel-name {
        flex-wrap: wrap;
    }

    .text-line {
        margin: 6% 0;
    }

    .contacts {
        flex-wrap: wrap;
    }

    .block-contacts {
        margin: 0 2%;
    }

    .text-transform2 {
        display: none;
    }

    .text-transform3 {
        display: none;
    }

}

@media screen and (max-width: 740px) {

    .black-menu-list {
        display: none;
    }

    .black-container {
        padding: 37px;
        flex-wrap: wrap;
        display: flex;
    }

    .name {
        font-size: 100px;
        letter-spacing: 0;
    }

    .name-title {
        font-size: 20px;
    }

    .button {
        width: 160px;
        height: 40px;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .grid-container > div {
        margin: 2% 0;
    }

    .white-name {
        font-size: 60px;
    }

    .form-menu {
        width: 100%;
    }

    .blue-panels {
        height: 150px;
    }

    .finish {
        flex-wrap: wrap;
    }

    .logo-finish {
        margin: 0 5%;
    }

}